.car img{
    width: 100%;
    
}
.buy-btn{
    text-decoration: none;
    background: #222f3e;
    padding: 10px 20px;
    margin: 20px;
    font-size: 1.3rem;
    font-weight: bold;
    font-style: italic;
    border: 1px solid #B53471;
    border-radius: 15px;
    color: #FDA7DF;
    
}
.left-side{
    color: #FDA7DF;
}